# Directories:
/.vscode
/.git
/assets
/cmd
/internal
/scripts
/vendor

# Files:
/go.mod
/go.sum
/.gitignore
/.gitattributes
/.goreleaser.yml
/yarn.lock
/package-lock.json
/build/rtmor
/build/rtmor.exe
/build/_

# Match:
/*.tgz

# System temporary files:
.DS_Store
Desktop.ini
._*
Thumbs.db
.Spotlight-V100
.Trashes